<table class="table table-sm table-hover" id="TbClientes">
    <thead class="thead-dark rounded">
        <tr>
            <th>
                Id
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Razao Social
            </th>
            <th>
                Status
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Modals{
    <div class="modal fade" id="NovoCliente">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" id="PessoaOpcao">
                        <div class="col-md-6">
                            <button id="btnPessoaFisica" type="button" class="btn btn-primary btn-block">Pessoa Física</button>
                        </div>
                        <div class="col-md-6">
                            <button id="btnPessoaJuridica" type="button" class="btn btn-primary btn-block">Pessoa Juridica</button>
                        </div>
                    </div>
                    <form asp-action="Novo" id="FormPessoaFisica" class="hide">
                        <div class="row">
                            <div class="col-12">
                                <label><b>Cpf</b></label>
                                <input class="form-control" type="text" id="NovoCpf" name="_doc" />
                                <span id="ValidPF" class="text-danger"></span>
                                <br />
                                <input id="btnNovaPessoaFisica" type="submit" value="Incluir" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </form>
                    
                    <form asp-action="Novo" id="FormPessoaJuridica" class="hide">
                        <div class="row">
                            <div class="col-12">
                                <label><b>Cnpj </b>:</label>
                                <input class="form-control" type="text" id="NovoCnpj" name="_doc" />
                                <span id="ValidPJ" class="text-danger"></span>
                                <br />
                                <input id="btnNovoCliente" type="submit" value="Incluir" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script src="~/js/tables.js"></script>
    <script src="~/js/ClienteModal.js"></script>
}