<div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="padding:0.5rem 1rem; margin-bottom: 0rem; display:none">
    <p id="error" class="text-center" style="font-size:18px"></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<br />
<div class="form-row">
    <div class="col-1"></div>
    <div class="col-10">
        <form id="srch" class="form-inline">
            <label class="mr-sm-2">Nome: </label>
            <input id="nameSearch" type="text" class="form-control col mb-2 mr-sm-2  input-Capitalize" />
            <button id="btnPesquisar" type="button" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>
<br />
<div id="content" class="container-fluid">
    <div class="spinner-grow text-primary"></div>
</div>

<button class="btn btn-primary float-right" data-toggle="modal" data-target="#NovoCliente">Novo</button>


<div class="modal fade" id="NovoCliente">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" id="PessoaOpcao">
                    <div class="col-md-6">
                        <button id="btnPessoaFisica" type="button" class="btn btn-primary btn-block">Pessoa Física</button>
                    </div>
                    <div class="col-md-6">
                        <button id="btnPessoaJuridica" type="button" class="btn btn-primary btn-block">Pessoa Juridica</button>
                    </div>
                </div>
                <form asp-action="ConsultaCNPJ" id="FormPessoaJuridica" class="hide" method="post">
                    <div class="row">
                        <div class="col-12">
                            <label><b>Cnpj </b>:</label>
                            <input class="form-control" type="text" id="NovoCnpj" name="_cnpj" />
                            <br />
                            <input id="btnNovoCliente" type="submit" value="Salvar" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/IndexCliente.js"></script>

    @if (ViewBag.erro != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#error').html("@ViewBag.erro");
                $('#myAlert').fadeTo(2000, 500).slideUp(500, function () {
                    $("#myAlert").slideUp(500);
                });
            });
        </script>
    }
}
