<div class="container">
    <div class="form-row">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control form-control-sm" id="slctOption">
                        <option class="form-control form-control-sm" value="1">CNPJ</option>
                        <option class="form-control form-control-sm" value="2">Razao Social</option>
                    </select>
                </div>
                <input type="text" class="form-control" id="txtSearch" />
                <div class="input-group-append">
                    <!--<button class="btn mr-sm-2 btn-secondary">Pesquisar</button>-->
                    <button class="btn btn-primary" id="btnNovo">Novo</button>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="container">
    <table class="table table-sm table-hover" id="TbClientes">
        <thead class="thead-dark rounded">
            <tr>
                <th>Id</th>
                <th>CNPJ</th>
                <th>Razao Social</th>
                <th>Telefone</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Modals{
    <div class="modal fade" id="NovoCliente">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" id="PessoaOpcao">
                        <div class="col-md-6">
                            <button id="btnPessoaFisica" type="button" class="btn btn-primary btn-block">Pessoa Física</button>
                        </div>
                        <div class="col-md-6">
                            <button id="btnPessoaJuridica" type="button" class="btn btn-primary btn-block">Pessoa Juridica</button>
                        </div>
                    </div>
                    <form asp-action="Novo" id="FormPessoaFisica" class="hide" method="post">
                        <div class="row">
                            <div class="col-12">
                                <label><b>Cpf</b></label>
                                <input class="form-control" type="text" id="NovoCpf" name="_doc" autocomplete="off" />
                                <span id="ValidPF" class="text-danger"></span>
                                <br />
                                <input id="btnNovaPessoaFisica" type="submit" value="Incluir" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </form>

                    <form asp-action="Novo" id="FormPessoaJuridica" class="hide" method="post">
                        <div class="row">
                            <div class="col-12">
                                <label><b>Cnpj </b>:</label>
                                <input class="form-control" type="text" id="NovoCnpj" name="_doc" autocomplete="off" />
                                <span id="ValidPJ" class="text-danger"></span>
                                <br />
                                <input id="btnNovoCliente" type="submit" value="Incluir" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script src="~/js/Clientes.js"></script>
}