<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Total de Atendimentos</h4>
                </div>
                <div class="card-body">
                    <canvas id="AtdAbertos" aria-label="Atendimentos em aberto"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Total de Atendimentos por funcionario</h4>
                </div>
                <div class="card-body">
                    <canvas id="AtdPorFuncionarios" aria-label="Atendimentos em aberto"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/lib/ChartJS/Chart.min.js"></script>
    <script type="text/javascript" src="~/js/PainelDeControle.js"></script>
}