@model CSC.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" method="post" asp-action="Login">
                    <div asp-validation-summary="All" class="text-danger">
                        <span class="login100-form-title p-b-51">Login</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            <input asp-for="NomeLogon" class="input100" type="text" placeholder="Usuario">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-16">
                            <input asp-for="Senha" class="input100" type="password" placeholder="Senha">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="container-login100-form-btn m-t-17">
                            <input type="submit" class="login100-form-btn" style="text-align:center;" value="Login" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    

</body>
</html>