@model CSC.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}

<h2>Funcionario</h2>
<h4>Novo</h4>

<hr />

<div class="container-fluid">
    <form asp-action="Create">
        <div class="row">
            <div class="col-10">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label>&nbsp;</label>
                <div class="custom-control custom-checkbox text-center">
                    <input type="checkbox" asp-for="Veiculo" class="custom-control-input" />
                    <label asp-for="Veiculo" class="custom-control-label"></label>
                    <span asp-validation-for="Veiculo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Admissao" class="control-label"></label>
                <input asp-for="Admissao" class="form-control" />
                <span asp-validation-for="Admissao" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Demissao" class="control-label"></label>
                <input asp-for="Demissao" class="form-control" disabled />
            </div>
            <div class="col-4">
                <label>&nbsp;</label>
                <div class="align-self-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>
