@model IEnumerable<CSC.Models.Funcionario>

<table class="table table-sm table-hover" id="TbFuncionarios">
    <thead class="thead-dark rounded">
        <tr>
            <th>
               Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Admissao
            </th>
            <th>
                Veiculo
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript" src="~/js/tables.js"></script>
}