@model CSC.Models.User

<h2>Usuario</h2>
<h4>Edição</h4>

<hr />

<div class="container-fluid">
    <form asp-action="Editar">
        <div class="row">
            <div class="col-1">
                <label>&nbsp;</label>
                <input type="text" class="form-control" asp-for="Id" disabled />
            </div>
            <div class="col-7">
                <label asp-for="Funcionario.Nome"></label>
                <input asp-for="Funcionario.Nome" class="form-control" disabled />
            </div>
            <div class="col-4">
                <label asp-for="NomeLogon"></label>
                <input asp-for="NomeLogon" class="form-control" />
                <span asp-validation-for="NomeLogon"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <button class="btn btn-dark" data-toggle="modal" data-target="#FormPsw">Senha</button>
                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

</div>