<input type="hidden" id="userLogado" value="@ViewBag.user.Id" />

<table class="table table-sm table-hover row-border" id="TbUsuarios">
    <thead class="thead-dark rounded">
        <tr>
            <th>
                Id
            </th>
            <th>
                Logon
            </th>
            <th>
                Funcionario
            </th>
            <th>
                Admissao
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="~/js/Usuarios.js"></script>
}
