@model CSC.Models.ViewModel.UserFormViewModel


<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger">
                <div class="form-group">
                    <label asp-for="User.NomeLogon"></label>
                    <input type="text" asp-for="User.NomeLogon" class="form-control" />
                    <span asp-validation-for="User.NomeLogon" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Senha"></label>
                    <input type="password" asp-for="User.Senha" class="form-control" />
                    <span asp-validation-for="User.NomeLogon" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.FuncionarioId"></label>
                    <select asp-for="User.FuncionarioId" asp-items="@(new SelectList(Model.Funcionarios, "Id", "Nome"))" class="form-control"></select>
                </div>
                <div class="form-group">
                    <input type="submit" asp-action="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

