<table class="table table-sm table-hover" id="TbAtendimentos">
    <thead class="thead-dark rounded">
        <tr>
            <th>ID</th>
            <th>Funcionario</th>
            <th>Cliente</th>
            <th>Data de Abertura</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Modals
    {
    <!-- modal localizacao de clientes -->
    <div class="modal fade" tabindex="-1" role="dialog" id="ClientSelect">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table class="table table-sm table-hover" id="TbClientes" style="width:100%">
                        <thead class="thead-dark rounded">
                            <tr>
                                <th>Id</th>
                                <th>CNPJ</th>
                                <th>Razao Social</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para transferencia de atendimentos-->
    <div class="modal fade" tabindex="-1" role="dialog" id="TransferirAtendimento">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Transferência de Atendimento</h4>
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <label class="col-form-label">De:</label>
                                <input type="text" class="form-control text-center" id="FuncionarioOrigem" name="FuncinarioOrigem" readonly />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-12 text-center">
                                <i class="fas fa-angle-double-down fa-2x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="col-form-label">Para:</label>
                                <select id="funcDestino" asp-items="@ViewBag.Funcionarios" class="form-control"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <button id="btnTransferir" type="button" class="btn btn-block btn-primary">Transferir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script type="text/javascript" src="~/js/Atendimentos.js"></script>
}
