<table class="table table-striped table-hover" id="TbAtendimentos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Funcionario</th>
            <th>Cliente</th>
            <th>Data de Abertura</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="~/js/Atendimentos.js"></script>
}